<section id="section1">
  <h2 class="section-list-title">Shopping <span>list</span></h2>
  <ul class="section-list-list">
    <li class="section-list-item">
      <div><img src="" alt="" /></div>
      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="section-list-item">
      <div><img src="" alt="" /></div>

      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="section-list-item">
      <div><img src="" alt="" /></div>

      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="section-list-item">
      <div><img src="" alt="" /></div>

      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="section-list-item">
      <div><img src="" alt="" /></div>

      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="section-list-item">
      <div><img src="" alt="" /></div>

      <div class="shopping-item">
        <p class="shoping-title">Lorem, ipsum</p>
        <p class="shopping-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
  </ul>
  <p class="section-text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis provident
    rem perferendis debitis earum modi sint officia, neque corrupti? Excepturi
    repudiandae modi maiores ab, sunt molestias reprehenderit cum nihil ipsum
    ullam harum esse quisquam debitis aperiam. Officiis quo quis consequuntur
    aliquid veritatis temporibus vero aut et sint debitis, eos non?
  </p>
</section>
