<section class="section3">
  <h2 class="section-title">Section 3</h2>
  <p class="section-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam.
    Nemo eveniet qui neque laborum deserunt veniam maiores amet atque quis
    tenetur porro accusamus dolor saepe nihil, vero ad! Provident!
  </p>

  <ul class="section-list-3">
    <li class="section-item-3">
      <img class="section-img" src="../img/section-3/bankapp.jpg" alt="alt" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
    <li class="section-item-3">
      <img
        class="section-img"
        src="../img/section-3/cashlesspayment.jpg"
        alt="alt"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
    <li class="section-item-3">
      <img
        class="section-img"
        src="../img/section-3/onlinecourse.jpg"
        alt="alt"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
    <li class="section-item-3">
      <img
        class="section-img"
        src="../img/section-3/meditationapp.jpg"
        alt="alt"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
    <li class="section-item-3">
      <img
        class="section-img"
        src="../img/section-3/screenillustration.jpg"
        alt="alt"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
    <li class="section-item-3">
      <img
        class="section-img"
        src="../img/section-3/taxiservise.jpg"
        alt="alt"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        reprehenderit.
      </p>
    </li>
  </ul>

  <p class="section-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas
    provident repellat, modi suscipit dolor. Animi est iure architecto velit?
  </p>
</section>
