<section id="section2">
  <h2 class="section-list-title">Hard cover <span>fiction</span></h2>
  <p class="section-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, et quae!
    Odit ipsa commodi, aspernatur natus provident aut sint dicta.
  </p>
  <p class="section-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate
    optio fugit rem repellat itaque mollitia, ut ipsum eveniet impedit iusto
    dignissimos porro voluptatum dicta tempora similique aperiam nesciunt ipsa
    temporibus blanditiis quis doloribus. Dolorem repellendus ipsum culpa, rem
    minima consequuntur, doloremque eos quis reprehenderit, consequatur eveniet
    temporibus impedit eius.
  </p>
</section>
