.header {
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-svg {
  fill: #000;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.nav-link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 36px;
  padding: 7px 16px;
  width: 156px;
  height: 34px;
  background-color: yellow;
}

.nav-link::before,
.nav-link::after {
  content: '-';
  width: 20px;
  height: 2px;
  color: transparent;
}

.nav-link:hover {
  color: #747bff;
}

.nav-link:active {
  text-decoration: underline;
}

.nav-link:hover::before,
.nav-link:hover::after {
  color: #747bff;
}
