.hero {
  margin: 0 auto;
  max-width: 1200px;
  height: 300px;
  padding: 10px;
  background-color: #2a2a2a;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 255, 204, 0.3),
      rgba(120, 136, 172, 0.3)
    ),
    url(../img/1671711483_kalix-club-p-fon-ofis-pinterest-10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.hero-title {
  font-size: 24px;
  text-transform: uppercase;
}
.hero-title span {
  color: blue;
}

.hero-text {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

.hero-btn {
  padding: 10px 25px;
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 15px;
  outline: none;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: aqua;
  color: #2a2a2a;
}
