/* Reset styles */

/* У нормалізаторі modern-normalize за умовчанням задано глобальний border-box. Отже, якщо його підключено до проєкту, то у своїх стилях box-sizing можна не вказувати */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Tahoma';
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', sans-serif;
  color: #2a2a2a;
  background-color: bisque;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}
